*{
  color: white;
}
  .jumbotron-fluid{
    color: purple;
    background: url("https://static1.squarespace.com/static/555d1c13e4b04fe4b79cf7c0/55a58398e4b0d46084e01c89/55a58406e4b0ffc7052b0ccd/1436910603011/DC+Monument+Shoot_Washington+Monument-Pano-Edit.jpg?format=2500w");
    background-position: center;
    background-size: cover;
    position: static;
    padding-bottom: 35px;
    border-bottom: 3px solid black;
  }
body{
  background: url("http://cdn.gossrv.com/cdn/farfuture/dxdxLedZTgxCOmxyIRXZFLjWHB_7mhEsC8YypZ_QV5o/1501256217/sites/default/files/2016-12/WashingtonDCWinter.jpg");
  background-position: top;
  background-size: cover;
  font-family: 'Josefin Slab', serif;


}
.col-md-3{
  color: red;
  border: 3px solid red;
  padding-bottom: 40px;
  padding-right: 20px;
  height: 200px;
}
.col-md-9{
  color:red;
  border: 3px solid purple;
}
.imgSection{
  border: 3px solid teal;
  height: 500px;
}
.form-check{
  padding: 10px;
}

.col-md-4{
  border: 3px solid black;
}
img{
  background-size:cover;
}
