h1, h1.display4, h2, label, p, h3 {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
  .jumbotron-fluid{
    color: purple;
    background: url("https://static1.squarespace.com/static/555d1c13e4b04fe4b79cf7c0/55a58398e4b0d46084e01c89/55a58406e4b0ffc7052b0ccd/1436910603011/DC+Monument+Shoot_Washington+Monument-Pano-Edit.jpg?format=2500w");
    background-position: center;
    background-size: cover;
    padding-bottom: 35px;
    border-bottom: 3px solid black;
  }
.jumbotron {
  margin-bottom: 0px;
}
body{
  background: url("https://wallpapercave.com/wp/aFgmc1h.png");
  background-color: purple;
  background-position: top;
  background-repeat: no-repeat;
    background-attachment: fixed;
  background-size: cover;
}
.col-md-3{

  padding-bottom: 40px;
  padding-right: 20px;

}
.attractions {

}
.imgSection{

  padding-bottom: 100px;
}
.form-check{
  padding: 10px;
}


img{
  background-size:cover;
}

label{
  font-size: 20px;
  padding-right:20px;
}

.lead{
  font-size: 30px;
}
/*------------------------------------------------------------------------------
/*GOOGLE-MAPS CSS
------------------------------------------------------------------------------*/
#map {
  height: 500px;
  width: 100%;
  border: black solid 5px;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#description {
  font-size: 15px;
  font-weight: 300;
}
#infowindow-content .title {
  font-weight: bold;
}
#infowindow-content {
  display: none;
}
#map #infowindow-content {
  display: inline;
}
.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}
#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}
.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}
.pac-controls label {
  font-size: 13px;
  font-weight: 300;
}
#pac-input {
  background-color: #fff;
  font-size: 19px;
  font-weight: bold;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  margin: 10px 10px 10px 0px;
  width: 65%;
}
#pac-input:focus {
  border-color: #4d90fe;
}
#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}
#target {
  width: 345px;
}
input#pac-input.controls {
  border: 2px white solid;
  animation: pulse 2s 30;
}
@keyframes pulse {
  0% {
    border: 2px white solid;
  }
  25% {
    border: 2px #edbcbd solid;
  }
  50% {
    border: 2px #e18f92 solid;
  }
  75% {
    border: 2px #cf4c50 solid;
  }
  100% {
    border: 2px #c42025 solid;
  }
}
.superHeightWidth {
  width: 500px;
  height: 500px;
}
/*------------------------------------------------------------------------------
/*GOOGLE-MAPS CSS
------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------
/*WEATHER-API CSS
------------------------------------------------------------------------------*/
.table {
  margin-top: 10px;
}
.table th, .table td {
  border-bottom: 0px;
  border-top: 0px;
}
.table thead th {
  border-bottom: 0px;
}
td {
  background-color: black;
  color: white;
}
.blackfont {
  color: black;
}
/*------------------------------------------------------------------------------
/*WEATHER-API CSS
------------------------------------------------------------------------------*/
